[Desktop Entry]
Version=1.0
Name=Chrandr
Comment=Change screen configuration
Exec=chrandr
Type=Application
Icon=video-display
Categories=Settings;HardwareSettings;
Terminal=false
StartupNotify=true
Name[fr]=Chrandr
Comment[fr]=Changer la configuration de l'écran
